rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Global Safety Net default deny
    match /{document=**} {
      allow read, write: if false;
    }

    match /products/{document} {
      allow read, write: if true;
    }
    match /taxes/{document} {
      allow read, write: if true;
    }
    match /fixedCosts/{document} {
      allow read, write: if true;
    }
    match /recipes/{document} {
      allow read, write: if true;
    }
    match /sales/{document} {
      allow read, write: if true;
    }
  }
}
